{
    "Zerojudge": {
        "Username": "...",
        "Password": "..."
    },
    "UVa": {
        "UserId": "..."
    },
    "Kattis": {
        "UserId": "...",
        "Password": "..."
    },
    "TOJ": {
        "UserId": "..."
    },
    "AtCoder": {
        "Username": "."
    },
    "CodeForces": {
        "Key": "...",
        "Secret": "...",
        "Handle": "..."
    },
    "CSES": {
        "Username": "...",
        "Password": "..."
    },
    "Supabase": {
        "Url": "YOUR_SUPABASE_URL",
        "Key": "YOUR_SUPABASE_URL"
    }
}