*.xlsx
*.xls
*.csv
*.txt
!requirements.txt
*.pkl

chromedriver.*
chromedriver
test.*
**/__pycache__/

backend/core/settings.json
backend/data/Json/Subs_data.json
backend/logs/
/venv/

# AI agents
.agents/
.reports/
skills-lock.json